
body {

background-color: rgb(134, 216, 209);

}


header {

    text-align: center;
    color: cornflowerblue;
}


section {

    background-color: rgb(153, 212, 171);
    border-radius: 10px;
    text-align: center;
    padding: 15px;   
    width: 500px;   
    margin: auto;   
    color: rgb(120, 125, 204);
    box-shadow: 5px 5px 10px rgba(161, 93, 93, 0.664);

}