body {
    background-color: rgb(221, 231, 164);
    font: normal 15pt Arial;
    color: black;

}

header {
color: rgb(10, 9, 7);
text-align: center;

}

section {
    background-color: rgb(149, 206, 147);
    border-radius: 10px;
    text-align: center;
    padding: 15px;   /*altura*/
    width: 500px;   /*largura*/
    margin: auto;   /*centralizar a 'section na' tela*/
    color: rgb(14, 13, 12);
    box-shadow: 5px 5px 10px rgba(161, 93, 93, 0.664);   /*colocar sombra*/

}

footer {
    color: rgb(233, 193, 145);
    text-align: center;
    font-style: italic;
}